# Week 2 - Data Analysis
#### Part 3
### Notebook created by Jonathan Penava and modified by Simon Hood
By the end of this lesson you should be able to read in a data set from a CSV file into a DataFrame, and manipulate that DataFrame.

## Overview
- NumPy
- Pandas
- <span style="color:red;">Data Frames</span>
- Reading CSV

## Data Frames

What is a dataframe?

A DataFrame is a 2 dimensional data structure (rows and columns).  These are similar to what you would see in SQL or Excel.  We will be using DataFrames to analize and manipulate our data sets.

In [34]:
import numpy as np
import pandas as pd

In [35]:
rowLabels = ['a','b','c']  
values1 = np.random.randint(1,20,4)
values2 = np.random.randint(1,20,4)   
values3 = np.random.randint(1,20,4)
colLabels = ['W', 'X', 'Y', 'Z']

In [36]:
multiArr = [values1.tolist(), values2.tolist(), values3.tolist()]

In [37]:
dataFrame = pd.DataFrame(data=multiArr, index=rowLabels, columns=colLabels)
dataFrame

   W   X   Y   Z
a  6  12  10  10
b  7  13   9   7
c  2   4   4   8

In [38]:
dataFrame['X']    #This produces a Pandas Series

a    12
b    13
c     4
Name: X, dtype: int64

In [39]:
dataFrame[['X','Y']]  #This produces a DataFrame

    X   Y
a  12  10
b  13   9
c   4   4

In [40]:
dataFrame.Z

a    10
b     7
c     8
Name: Z, dtype: int64

We can create new columns as we need them. We can also base the values in this column on other columns.

In [41]:
dataFrame['Sum(X+Y)']=dataFrame['X']+dataFrame['Y']
dataFrame

   W   X   Y   Z  Sum(X+Y)
a  6  12  10  10        22
b  7  13   9   7        22
c  2   4   4   8         8

<ul>
<li>inplace=True is needed to make the change permanent.</li>
<li>For axis, row=0 and columns=1   Since we wanted to remove the Sum column we set axis to 1</li>
</ul>

In [42]:
dataFrame.drop('Sum(X+Y)', axis=1, inplace=True) 
dataFrame

   W   X   Y   Z
a  6  12  10  10
b  7  13   9   7
c  2   4   4   8

We can also add rows to our DataFrame if we wish.

In [43]:
row = [1, 2, 3, 4]
df2 = pd.DataFrame([row], columns=['W','X','Y','Z'], index=['d'])
dataFrame=pd.concat([dataFrame, df2])
dataFrame

   W   X   Y   Z
a  6  12  10  10
b  7  13   9   7
c  2   4   4   8
d  1   2   3   4